body {
	padding-top: 70px;
}

.jumbotron {
	color: #2c3e50!important;
	background:  #ecf0f1!important;
}

.bg-dark {
	background: #2c3e50!important;
}

.navbar-dark {
	background: #2c3e50;	
}

.photo {
	margin: 10px 0;
}